/* Global Styles */
body {
    padding-top: 56px;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-section {
    background: linear-gradient(#cc0033, rgba(0, 0, 0, 0.7)),
        url('some img') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.7);
}

.hero-content h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-content p {
    font-size: 1.5rem;
}

.mybtn {
    padding: 10px 20px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
}

/* Sidebar */
.card {
    background: linear-gradient(#cc0033, rgba(0, 0, 0, 0.7)), url('some img') no-repeat center center;
    background-size: cover;
    color: #fff;
    border: none;
}

/* Ensure text remains visible */
.card-title, .card-text {
    color: #fff;
}

/* Footer */
footer p {
    font-size: 0.875rem;
    margin-bottom: 0;
}

footer a {
    color: #fff;
    margin: 0 5px;
}

footer a:hover {
    color: #e91e63;
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-content h2 {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1.25rem;
    }
}

.grad {
    border: 5px solid #7c001fd5; 
    box-shadow: 0vw 0vw .5vw black;
    border-radius: 10px; 
    padding: 5px; 
}
